{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div id="cookie" class="box cookie accentAltColor">
    <h3>We use cookies</h3>
    <span>
        Cookies are small pieces of data stored on your device, which you can manage in your browser settings.
        <br>
        If you continue without changing your settings for this website, we'll assume that you agree to the usage of cookies.
    </span>
    <br>
    <button class="cookieAccept themeColor altButtonDesign">Accept</button>
    <a href="/privacy-policy">About Your Privacy</a>
</div>